<nav role="navigation">
  <ul>
    <li><a href="{{ site.baseurl }}/" title="Home">Home</a></li>
    <li><a href="{{ site.baseurl }}/living-room-theatre/" title="Living Room Theatre'">Living Room Theatre</a></li>
    <li><a href="{{ site.baseurl }}/art-garage/" title="Sean's Art Garage'">Sean's Art Garage</a></li>
    <li><a href="{{ site.baseurl }}/dialogue-exercises/" title="Dialogue Exercises">Dialogue Exercises</a></li>
    <li><a href="{{ site.baseurl }}/about/" title="About">About</a></li>
    <li><a href="{{ site.baseurl }}/archive/" title="Archive">Archive</a></li>
  </ul>
</nav>
